<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution" >

    <dist:module
        dist:instant="false"
        dist:title="@string/action_trending" >
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name="com.dicoding.moviesync.ui.detailtrending.DetailTrendingActivity"
            android:exported="false" />
        <activity
            android:name="com.dicoding.moviesync.ui.trending.TrendingActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="trend"
                    android:scheme="moviesync" />
            </intent-filter>
        </activity>
    </application>

</manifest>